@{
    ViewBag.Title = "Details";
}

@using Newtonsoft.Json.Linq;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.ProductDetails != null)
{
    var product = ViewBag.ProductDetails as JObject;

    if (product != null)
    {
        <div class="product-details-container">
            <div class="product-image">
                <img src="path_to_image/@product["BrandName"].ToString().ToLower()_product.jpg" alt="@product["BrandName"]">
            </div>
            <div class="product-info">
                @foreach (var prop in product)
                {
                    if (prop.Value != null && prop.Value.Type != JTokenType.Null && prop.Key != "PID")
                    {
                        <div class="product-property">
                            <span class="property-name">@prop.Key:</span>
                            <span class="property-value">@prop.Value</span>
                        </div>
                    }
                }

                <button id="addToCartBtn" class="add-to-cart-btn">Add to Cart</button>
                <div id="cartStatus" class="added-to-cart" style="display:none;">Added to Cart</div>
            </div>
        </div>
    }
    else
    {
        <p>Invalid product data format.</p>
    }
}
else
{
    <p>Product details not found.</p>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#addToCartBtn').click(function () {
            $(this).prop('disabled', true);
            $('#cartStatus').show();
        });
    });
</script>